@{
    ViewBag.Title = "Cars";
}

<div class="top_cars paralax">
    <div class="blur"></div>
    <p class="title_p center_elements">OUR CARS</p>
</div>

<div id="content">
    <div class="page_list">
        <div class="page_button">
            <div class="dis_but">
                < prev
            </div>
        </div>
        <div class="page_navig">
            <ul>
                <li><a href="#" class="selected">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
            </ul>
        </div>
        <div class="page_button">
            <div style="float: right;">
                next >
            </div>
        </div>
    </div>

    <div id="cars_list">
        <div class="Trucks_list">
            <div class="Truck Truck_more_info">
                <div class="truck_image"><img src="../../Images/Truck_1.png"></div>
                <div class="truck_stat">
                    <div class="test">
                        <h5>MODEL</h5>
                        <h5>TRIPS</h5>
                        <h5>CITYS</h5>
                        <h5>KM</h5>
                    </div>
                    <div class="test">
                        <h5>Euro Track</h5>
                        <h5>39</h5>
                        <h5>18</h5>
                        <h5>180 000</h5>
                    </div>
                    <a href="@Url.Action("Car", "Home")">
                        <button class="read_more">Read More</button>
                    </a>
                </div>
                <div class="truck_info">
                    <div>Phasellus tristique quam vitae semper poritor. Donec maximus tellus quis nisl aliquam posuere. Cras dictum ut nisi eu iaculis. Ut dapibus mi non nunc posuere sollicitudin... Proin quis justo viverr feugia tlorem.quis.... .sollicitudin odio. Proin imperdiet pellentesque posuere. Curabitur ut elit malesuada, sagittis diam id, ultrices ipsum.</div>
                    <div>Aliquam viverra voltpat dolor, ut mattis enim ultrices quis....Vestibulum commodo posuere lectus, ac malesuada est gravida ut. Morbi non quam euismod, posuere neque ut, tincidunt sapien. Maecenas in risus mi. Quisque commodo scelerisque.... risuullamcorper lectus placerat sit amet. In eu placerat justo. Vestibulum tincidunt est ac orci aliquam blandit. Quisque tempor magna eu condimentum vulputate.</div>
                </div>
            </div>
            <div class="Truck Truck_more_info">
                <div class="truck_image"><img src="../../Images/Truck_2.png"></div>
                <div class="truck_stat">
                    <div class="test">
                        <h5>MODEL</h5>
                        <h5>TRIPS</h5>
                        <h5>CITYS</h5>
                        <h5>KM</h5>
                    </div>
                    <div class="test">
                        <h5>Euro Track</h5>
                        <h5>39</h5>
                        <h5>18</h5>
                        <h5>180 000</h5>
                    </div>
                    <a href="@Url.Action("Car", "Home")">
                        <button class="read_more">Read More</button>
                    </a>
                </div>
                <div class="truck_info">
                    <div>Phasellus tristique quam vitae semper poritor. Donec maximus tellus quis nisl aliquam posuere. Cras dictum ut nisi eu iaculis. Ut dapibus mi non nunc posuere sollicitudin... Proin quis justo viverr feugia tlorem.quis.... .sollicitudin odio. Proin imperdiet pellentesque posuere. Curabitur ut elit malesuada, sagittis diam id, ultrices ipsum.</div>
                    <div>Aliquam viverra voltpat dolor, ut mattis enim ultrices quis....Vestibulum commodo posuere lectus, ac malesuada est gravida ut. Morbi non quam euismod, posuere neque ut, tincidunt sapien. Maecenas in risus mi. Quisque commodo scelerisque.... risuullamcorper lectus placerat sit amet. In eu placerat justo. Vestibulum tincidunt est ac orci aliquam blandit. Quisque tempor magna eu condimentum vulputate.</div>
                </div>
            </div>
            <div class="Truck Truck_more_info">
                <div class="truck_image"><img src="../../Images/Truck_3.png"></div>
                <div class="truck_stat">
                    <div class="test">
                        <h5>MODEL</h5>
                        <h5>TRIPS</h5>
                        <h5>CITYS</h5>
                        <h5>KM</h5>
                    </div>
                    <div class="test">
                        <h5>Euro Track</h5>
                        <h5>39</h5>
                        <h5>18</h5>
                        <h5>180 000</h5>
                    </div>
                    <a href="@Url.Action("Car", "Home")">
                        <button class="read_more">Read More</button>
                    </a>
                </div>
                <div class="truck_info">
                    <div>Phasellus tristique quam vitae semper poritor. Donec maximus tellus quis nisl aliquam posuere. Cras dictum ut nisi eu iaculis. Ut dapibus mi non nunc posuere sollicitudin... Proin quis justo viverr feugia tlorem.quis.... .sollicitudin odio. Proin imperdiet pellentesque posuere. Curabitur ut elit malesuada, sagittis diam id, ultrices ipsum.</div>
                    <div>Aliquam viverra voltpat dolor, ut mattis enim ultrices quis....Vestibulum commodo posuere lectus, ac malesuada est gravida ut. Morbi non quam euismod, posuere neque ut, tincidunt sapien. Maecenas in risus mi. Quisque commodo scelerisque.... risuullamcorper lectus placerat sit amet. In eu placerat justo. Vestibulum tincidunt est ac orci aliquam blandit. Quisque tempor magna eu condimentum vulputate.</div>
                </div>
            </div>
            <div class="Truck Truck_more_info">
                <div class="truck_image"><img src="../../Images/Truck_4.png"></div>
                <div class="truck_stat">
                    <div class="test">
                        <h5>MODEL</h5>
                        <h5>TRIPS</h5>
                        <h5>CITYS</h5>
                        <h5>KM</h5>
                    </div>
                    <div class="test">
                        <h5>Euro Track</h5>
                        <h5>39</h5>
                        <h5>18</h5>
                        <h5>180 000</h5>
                    </div>
                    <a href="@Url.Action("Car", "Home")">
                        <button class="read_more">Read More</button>
                    </a>
                </div>
                <div class="truck_info">
                    <div>Phasellus tristique quam vitae semper poritor. Donec maximus tellus quis nisl aliquam posuere. Cras dictum ut nisi eu iaculis. Ut dapibus mi non nunc posuere sollicitudin... Proin quis justo viverr feugia tlorem.quis.... .sollicitudin odio. Proin imperdiet pellentesque posuere. Curabitur ut elit malesuada, sagittis diam id, ultrices ipsum.</div>
                    <div>Aliquam viverra voltpat dolor, ut mattis enim ultrices quis....Vestibulum commodo posuere lectus, ac malesuada est gravida ut. Morbi non quam euismod, posuere neque ut, tincidunt sapien. Maecenas in risus mi. Quisque commodo scelerisque.... risuullamcorper lectus placerat sit amet. In eu placerat justo. Vestibulum tincidunt est ac orci aliquam blandit. Quisque tempor magna eu condimentum vulputate.</div>
                </div>
            </div>
            <div class="Truck Truck_more_info">
                <div class="truck_image"><img src="../../Images/Truck_1.png"></div>
                <div class="truck_stat">
                    <div class="test">
                        <h5>MODEL</h5>
                        <h5>TRIPS</h5>
                        <h5>CITYS</h5>
                        <h5>KM</h5>
                    </div>
                    <div class="test">
                        <h5>Euro Track</h5>
                        <h5>39</h5>
                        <h5>18</h5>
                        <h5>180 000</h5>
                    </div>
                    <a href="@Url.Action("Car", "Home")">
                        <button class="read_more">Read More</button>
                    </a>
                </div>
                <div class="truck_info">
                    <div>Phasellus tristique quam vitae semper poritor. Donec maximus tellus quis nisl aliquam posuere. Cras dictum ut nisi eu iaculis. Ut dapibus mi non nunc posuere sollicitudin... Proin quis justo viverr feugia tlorem.quis.... .sollicitudin odio. Proin imperdiet pellentesque posuere. Curabitur ut elit malesuada, sagittis diam id, ultrices ipsum.</div>
                    <div>Aliquam viverra voltpat dolor, ut mattis enim ultrices quis....Vestibulum commodo posuere lectus, ac malesuada est gravida ut. Morbi non quam euismod, posuere neque ut, tincidunt sapien. Maecenas in risus mi. Quisque commodo scelerisque.... risuullamcorper lectus placerat sit amet. In eu placerat justo. Vestibulum tincidunt est ac orci aliquam blandit. Quisque tempor magna eu condimentum vulputate.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="page_list">
        <div class="page_button">
            <div class="dis_but">
                < prev
            </div>
        </div>
        <div class="page_navig">
            <ul>
                <li><a href="#" class="selected">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
            </ul>
        </div>
        <div class="page_button">
            <div style="float: right;">
                next >
            </div>
        </div>
    </div>

</div>