@{
    ViewBag.Title = "Cars";
}
@model PagedList.IPagedList<FleetManagement.DataAccess.Entities.Car>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="top_cars paralax">
    <div class="blur"></div>
    <p class="title_p center_elements">OUR CARS</p>
</div>
<div id="content">
    <div class="page_list">
        <div class="page_navig">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
    <div class="page-info">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
    <div id="cars_list">
        <div class="Trucks_list">
            @foreach (var item in Model)
            {
                <div class="Truck Truck_more_info">
                    <div class="truck_image">
                        <img src="../../Images/@item.ImageUrl"/>
                    </div>
                    <div class="truck_stat">
                        <div class="truck-info-category">
                            <p>Model</p>
                            <p>Trips</p>
                            <p>Cities</p>
                            <p>KM</p>
                            <p>Year</p>
                        </div>
                        <div class="truck-info-values">
                            <p>@item.Model</p>
                            <p>39</p>
                            <p>18</p>
                            <p>180 000</p>
                            <p>@item.ProduceYear</p>
                        </div>
                        <a href="@Url.Action("Index", "Car")">
                            <button class="read_more">Read More</button>
                        </a>
                    </div>
                    <div class="truck_info">
                        @item.Desription @item.Desription
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="page_list">
        <div class="page_navig">
            @Html.PagedListPager(Model, page => Url.Action("Index", new {page}))
        </div>
    </div>
    <div class="page-info">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
</div>